* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

:root {
    --Light-Blue: rgb(159, 198, 205);
    --Dark-Blue: rgb(49, 52, 62);
    --text-color: rgb(70, 86, 113);
}


/* apply styles to <header> */

header {
    padding: 20px 35px 20px 0;
    background-color: var(--Dark-Blue);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

header h1 {
    background-color: var(--Light-Blue);
    color: var(--Dark-Blue);
    text-align: left;
    padding: 5px 5px 5px 60px;
}

header a {
    text-decoration: none;
    color: var(--Light-Blue);
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 5px 10px;
    font-weight: lighter;
    font-size: 22px;
    border-bottom: 3px solid;
    border-width: 5px;
    margin-bottom: 0;
    margin-right: 10px;
    width: 10%;
}


/* header styling end */


/* Hero styling */

.hero {
    display: flex;
    flex-wrap: wrap;
    background-image: url("../images/hero.jpg");
    align-items: flex-end;
    justify-content: flex-end;
    background-size: cover;
    background-position: 100%;
    height: 400px;
    margin: 0;
    padding: 50px;
}

.hero .hero-text {
    background-color: var(--Light-Blue);
    color: var(--Dark-Blue);
    font-size: 23px;
    padding: 10px;
    box-shadow: -3px 0px 5px var(--Light-Blue);
}


/* Hero styling end */


/* Bio Styling */

.main-bio {
    padding: 50px;
    align-content: center;
    justify-content: flex-start;
    background-color: rgb(237, 238, 246);
}

.content {
    padding-bottom: 50px;
    display: flex;
    align-items: stretch;
    flex-direction: row;
    color: var(--text-color);
}

.main-bio .work-intro,
.content h1 {
    justify-content: right;
    align-content: flex-start;
    font-weight: bold;
    font-size: 40px;
    color: var(--text-color);
    text-align: right;
    padding-right: 10px;
    width: 20%;
    border-right: 5px solid;
}

.main-bio .content>div {
    align-content: flex-start;
    padding-left: 20px;
    width: 80%;
}


/* BIO styling end */


/* work styling */

.grid-container {
    display: grid;
    grid-template-rows: 150px 150px 150px;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
}

.grid-item-border {
    border: 2px solid lightblue;
}

.grid-item-border.surf-report {
    grid-row: 1 /span 2;
    grid-column: 1 /span 2;
    width: 100%;
}

.grid-item {
    position: relative;
    text-decoration: none;
    color: var(--Dark-Blue);
}

.grid-item::after {
    content: "";
    background: var(--Light-Blue);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.5;
    position: absolute;
    z-index: 1;
    transition: 0.5s;
}

.grid-item:hover:after {
    opacity: 0;
    transition: 0.5s;
}

.grid-item>div {
    position: absolute;
    background-color: var(--Light-Blue);
    padding: 15px;
    bottom: 15px;
    line-height: 1.5;
    z-index: 2;
}

.grid-item p {
    font-size: 10px;
}


.my-project {
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    max-height: 10px;
}

.grid-item.run-buddy {
    background-image: url(../images/Run-Buddy.png);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
}


/* Work styling end */


/* Contact me styling */

#contact-me .content a {
    text-decoration: none;
    color: var(--text-color);
}

#contact-me .content div {
    display: flex;
    margin: 7px 0;
    align-content: center;
}

#contact-me .content ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    width: 100%;
}

#contact-me .content ul li a {
    padding: 0px 10px;
    font-weight: lighter;
    font-size: 22px;
    border-bottom: 3px solid;
    border-width: 5px;
    margin-bottom: 0;
    margin-right: 10px;
    width: 10%;
}


/* Contact me styling end */


/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */

@media screen and (max-width: 980px) {
    .header {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
    }
    .header h1 {
        width: 100%;
        text-align: center;
    }
    .header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
    }
    .header nav ul li a {
        font-size: 20px;
    }
    .main-bio .work-intro,
    .content h1 {
        font-size: 30px;
    }
    #contact-me .content ul li {
        width: 80%;
        margin: auto;
        text-align: center;
        align-content: center;
        justify-content: center;
    }
    #contact-me .content ul li a {
        padding-top: 0px;
        font-weight: lighter;
        font-size: 12px;
        border-bottom: 2px solid;
        border-width: 2px;
        margin-right: 30px;
        width: 100%;
        display: block;
        align-content: center;
        justify-content: center;
        text-align: center;
    }
}


/* MEDIA QUERY FOR TABLETS AND SMALLER */

@media screen and (max-width: 769px) {
    .main-bio .work-intro .content h1 {
        font-size: 30px;
    }
    header nav ul li a {
        padding: 0px;
    }
    .main-bio .work-intro,
    .content h1 {
        font-size: 30px;
    }
    .grid-item::after {
        background-color: transparent;
    }
}


/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */

@media screen and (max-width: 575px) {
    header {
        padding: 5px;
    }
    header h1 {
        display: block;
        width: 100%;
        text-align: center;
        align-content: center;
        justify-content: center;
        padding: 10px;
    }
    header nav {
        margin: auto;
    }
    header nav ul li {
        width: 100%;
        margin: auto;
        text-align: center;
        align-content: center;
        justify-content: center;
    }
    header nav ul li a {
        padding-top: 5px;
        font-weight: lighter;
        font-size: 12px;
        border-bottom: 2px solid;
        border-width: 2px;
        margin-right: 30px;
        width: 100%;
        display: block;
        align-content: center;
        justify-content: center;
        text-align: center;
    }
    .main-bio {
        width: 100%;
        padding: 20px;
    }
    .content {
        display: block;
        padding: 5px;
    }
    .main-bio .content>div {
        width: 100%;
        padding: 0px;
        margin: 0px;
    }
    .main-bio .work-intro,
    .content h1 {
        align-content: center;
        justify-content: center;
        text-align: center;
        width: 100%;
        border-right: none;
        border-bottom: 5px solid;
        margin-bottom: 20px;
    }
    .main-bio #About-me .content div {
        align-content: center;
        justify-content: center;
        text-align: center;
    }
    .grid-container {
        width: 100%;
        grid-template-columns: auto;
        grid-template-rows: auto;
    }
    .grid-item {
        height: 150px;
    }
    .grid-item-border.surf-report {
        grid-row: 1 / 1;
        grid-column: 1 / 1;
        width: 100%;
    }
    .grid-item::after {
        background-color: transparent;
    }
}